:root {
    --text-color-primary: #fff;
}

@font-face {
    font-family: 'Montserrat-ExtraBoldItalic';
    src: url('../fonts/Montserrat-ExtraBoldItalic.eot');
    src: url('../fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype'),
    url('../fonts/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
    url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, select,
figure, figcaption, picture {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

header, footer, section, nav, aside {
    display: block;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

textarea {
    resize: none;
    overflow: auto;
}

address {
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat-ExtraBoldItalic', sans-serif;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: var(--text-color-primary);
    position: relative;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
}

body > img {
    display: none;
}

a {
    cursor: pointer;
}

a, a:hover {
    text-decoration: none;
}

select, input, textarea {
    vertical-align: middle;
}

textarea {
    vertical-align: top;
}

:focus {
    outline: none;
}

input[type=submit] {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    line-height: 1;
}

section, footer {
    text-align: center;
    overflow: hidden;
}

button,
button:active,
button:focus {
    outline: none;
    cursor: pointer;
}

img {
    height: auto;
}

.container {
    padding: 0 38.14vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100%;
    position: relative;
}

.main {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.header {
    padding: 0 11.57vh;
    margin: 6.85vh auto 9vh;
    width: 100%;
}

.logo {
    display: inline-block;
}

.logo__img {
    width: 21vh;
}

.bonus {
    color: rgba(249, 2, 19, 1);
    font-size: 15.74vh;
    line-height: 1.2;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.title {
    font-size: 7.87vh;
    line-height: 1;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 5.83vh;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.main-btn {
    font-family: 'Montserrat-SemiBold', sans-serif;
    line-height: 10.65vh;
    background: rgba(249, 2, 19, 1);
    color: var(--text-color-primary);
    text-transform: uppercase;
    border-radius: 2vh;
    padding: 0 6.3vh;
    font-size: 5vh;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.hover .title,
.hover .bonus {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.hover .main-btn {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 35px 0px rgba(249, 2, 19, 1);
    box-shadow: 0px 0px 35px 0px rgba(249, 2, 19, 1);
}

.coin1 {
    position: absolute;
    left: -11vh;
    bottom: -4vh;
    width: 65.7vh;
    -webkit-transition: left 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
    -o-transition: left 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
    transition: left 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
}

.coin2 {
    position: absolute;
    right: 0;
    bottom: 3.98vh;
    width: 29.81vh;
    -webkit-transition: right 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
    -o-transition: right 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
    transition: right 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
}

.coin3 {
    position: absolute;
    right: -3.98vh;
    top: -4.9vh;
    width: 42.4vh;
    -webkit-transition: right 1s ease-in-out, top 1s ease-in-out, -webkit-transform 1s ease-in-out;
    transition: right 1s ease-in-out, top 1s ease-in-out, -webkit-transform 1s ease-in-out;
    -o-transition: right 1s ease-in-out, top 1s ease-in-out, transform 1s ease-in-out;
    transition: right 1s ease-in-out, top 1s ease-in-out, transform 1s ease-in-out;
    transition: right 1s ease-in-out, top 1s ease-in-out, transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.coin4 {
    position: absolute;
    left: 70.09vh;
    bottom: 0;
    width: 41.75vh;
    -webkit-transition: left 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
    -o-transition: left 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
    transition: left 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
}

.coin5 {
    position: absolute;
    right: 22.87vh;
    bottom: 0;
    width: 27.31vh;
    -webkit-transition: right 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
    -o-transition: right 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
    transition: right 1s ease-in-out, bottom 1s ease-in-out, width 1s ease-in-out;
}

.hover .coin1 {
    left: 0;
    bottom: 0;
    width: 78.7vh;
}

.hover .coin2 {
    right: -11vh;
    bottom: -6.02vh;
    width: 32.81vh;
}

.hover .coin3 {
    right: -7.98vh;
    top: -6.9vh;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.hover .coin4 {
    bottom: -4vh;
    width: 43.75vh;
}

.hover .coin5 {
    right: 15.87vh;
    bottom: -7vh;
    width: 31.31vh;
}

.hover-mob .title,
.hover-mob .bonus,
.hover-mob .main-btn {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.coin-mob {
    display: none;
}

.d-none {
    display: none !important;
}

@media only screen and (orientation: landscape) and (max-width: 167vh) {
    .container {
        padding: 0 29vh;
    }
}

@media only screen and (orientation: landscape) and (max-width: 135vh) {
    .container {
        padding: 0 23vh;
    }

    .bonus {
        font-size: 12.74vh;
    }

    .title {
        font-size: 6.5vh;
        margin-bottom: 2.83vh;
    }

    .main-btn {
        line-height: 8.65vh;
        border-radius: 1.2vh;
        font-size: 4vh;
    }
}

@media only screen and (orientation: portrait) {
    .coin-desc {
        display: none;
    }

    .coin-mob {
        display: inline-block;
    }

    body {
        background: url("../images/bg-mob.jpg") no-repeat;
        background-size: cover;
    }

    .header {
        padding: 0 6.1vw;
        margin: 5.8vw auto 57.22vw;
    }

    .logo__img {
        width: 27.5vw;
    }

    .container {
        padding: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .bonus {
        color: var(--text-color-primary);
        font-size: 25.2vw;
        line-height: 1;
    }

    .title {
        font-size: 12.5vw;
        margin-bottom: 6.38vw;
    }

    .main-btn {
        line-height: 16.66vw;
        border-radius: 2vw;
        padding: 0 10vw;
        font-size: 8vw;
    }

    .coin1-mob {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 44.4vw;
    }

    .coin2-mob {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 56.9vw;
    }

    .coin3-mob {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 55vw;
    }

    .coin4-mob {
        position: absolute;
        right: 0;
        top: 10vw;
        width: 35.5vw;
    }
}

@media only screen and (orientation: portrait) and (min-height: 200vw) {
    .header {
        margin-bottom: 80vw;
    }
}

@media only screen and (orientation: portrait) and (min-width: 766px) {
    .bonus {
        font-size: 18vw;
    }

    .title {
        font-size: 9.1vw;
        margin-bottom: 3vw;
    }

    .main-btn {
        line-height: 12vw;
        font-size: 5vw;
    }

    .coin1-mob {
        width: 31.4vw;
    }

    .coin2-mob {
        width: 31.9vw;
    }

    .coin3-mob {
        width: 37vw;
    }

    .coin4-mob {
        width: 26.5vw;
    }
}